@model AppDev_FTS.ViewModels.InfoViewModel
@{
    ViewBag.Title = "Delete";
}


<h2>Delete User</h2>

@Html.Partial("InfoProfile")

@using (Html.BeginForm("Delete", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Confirm Delete" class="btn btn-danger" /> |
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary"})
    </div>
}