@model AppDev_FTS.ViewModels.InfoViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit User Information</h2>

@Html.Partial("EditInfo")
@Html.ActionLink("Back to Index", "Index", null, new { @class = "btn btn-primary"})
